@media (max-width: 1199px) {
  #boss-list ul li {
    width: 30%;
    flex: 0 0 30%;
  }
}

@media (max-width: 991px) {
  #boss-list ul li {
    width: 45%;
    flex: 0 0 45%;
  }
  main {
    padding: 60px 0;
  }
}

@media (max-width: 767px) {
  #boss-list ul li {
    width: 100%;
    flex: 0 0 100%;
  }

  header .col-sm-12 {
    flex-direction: column;
  }

  main {
    min-height: calc(100vh - 209px);
    padding: 50px 30px;
  }

  h1 {
    margin: 0 0 20px;
  }
}
